@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(13, 172, 224);
    width: 100vw;
}

nav h2 span{
    color: #ea1538;
}

nav h2{
    color: white;
    font-size: 35px;
    font-weight: 600;
    line-height: 80px;
    padding: 0 40px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
   
}

nav ul li a{
    /* cursor: pointer; */
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover{
    color: #ea1538;
    text-decoration: underline;
    transition: 0.3s;
}

nav button{
    cursor: pointer;
    border: none;
    background-color: #ea1538;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    margin: 0 40px;
    border-radius: 30px;
    transition: 0.4s;
}

nav button:hover{
    transform: scale(1.1);    
}
